/* Style the section using
    flex,
    flex-direction,
    gap,
    margin,
    padding,
    background-color,
    border-radius,
    max-width
 */




section {
background-color: antiquewhite;
display: flex;
flex-direction: row;
max-width: 1400px;
}

article {
    flex: 1;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

@media screen and (max-width: 900px) {
    section {
        flex-direction: column;
    }
}